/* this is a patch which is used to fix some problems when clients visit the website in narrow screen */
.Title-Text {
    font-size: 175%;
}

#Character-Container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    min-width: 80%;
    margin: 1%;
}

.Character {
    margin: 0;
}

.Character img {
    width: 80px;
    height: 80px;
}

.watermark-Box {
    zoom: 0.8;
}

.characterText {
    font-size: 80%;
}

#Start-Button {
    font-size: 100%;
    border: 2px solid black;
}