*{
	margin:0;
	padding:0;
	}

html{
	background-color:silver;
	justify-content:center;
	align-items:center;
	z-index:-10;
	}
	
html::before{
	backdrop-filter: blur(50px);
	}
	
body{
	display: flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	}

.box{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	backdrop-filter: blur(50px);
	background: linear-gradient(
                to right bottom,
                rgba(255,255,255,.7),
                rgba(255,255,255,.5),
                rgba(255,255,255,.4)
	);
	margin:auto;
	overflow:hidden;
	border:2px black solid;
	border-radius:10px;
	}
	
.box h1{
	display:flex;
	justify-content:center;
	align-items:center;
	font:800 4vh'';
	}
	
.box p{
	font:600 2vh'';
	letter-spacing: 1px;
	}
