*{
			margin:0;
			padding:0;
		}
		
		body{
			display:flex;
			height:100vh;
			justify-content:center;
			align-items:center;
		}
			
		.box{
			overflow:hidden;
			width:40vh;
			height:30vh;
			border:2px black solid;
			background-color:#f4f4f4;
		}
		
		.box h1{
			display:flex;
			justify-content:center;
			align-items:center;
			height:10vh;
		}
		
		.reason{
			display:flex;
			justify-content:center;
			align-items:center;
			padding:10px;
			border-radius:10px;
		}
		
		.back{
			text-align: center;
			color:black;
			border-radius: 10px;
			letter-spacing:3px;
			display:block;
			padding:13px;
			font:900 18px'';
			width:10vh
			background-color:#f4f4ff;
		}